.selectedDog {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
}

.dogSection {
  display: flex;
  flex-direction: row;
}

.dogSection > img {
  border-radius: 2em;
  height: 10em;
  width: 10em;
}

.dawgInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.dawgInfoMore {
  margin: 1em;
}

.ownerSection :first-child {
  text-align: center;
}

.ownerSection > p {
  margin-left: 1em;
}