.dogEntry {
  display: flex;
  height: 10em;
  background-color: hotpink;
  margin: 1em;
  border-radius: 2em;
}

.dogImageSmall {
  width: 10em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  object-fit: cover;
}

.dogInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;  
}

.dogName {
  width: 5em;
  text-align: center;
}

.dogPresentIndicator {
  width: 50px;
  height: 50px;
  margin-bottom: 2em;
}